/**
	|============================
	| default styles
	|============================
*/
/* font-family: 'Inter',
sans-serif; */

*,*::after,*::before{
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}



button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
}

ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body{
	margin: 0;
	font-family: 'Inter', sans-serif;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;

}

.container{
	max-width: 1220px; 
	padding: 0 10px;
	margin: 0 auto;
}






/**
	|============================
	| header
	|============================
*/

.header{
	min-height: 100vh;
	position: relative;
}
.header-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}
.header-content-images{
	text-align: center;
	padding-bottom: 50px;
}
.header-content-images::before{
	content: '';
	top: 0;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	position: absolute;
	
	z-index: -2;
}

.header-content-images:has(.blue.content-active)::before{
	background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header-content-images:has(.red.content-active)::before{
	background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header-content-images:has(.black.content-active)::before{
	background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header-content-images:has(.green.content-active)::before{
	background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);
}
.header-content-images:has(.white.content-active)::before{
	background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);
}
.content-images-item{
	display: none;
}
.content-images-item.content-active{
	display: inline-block;
}


.nav{
	display: flex;
	align-items: center;
	gap: 40px;
	font-weight: 700;
}
.nav-btn{
	padding: 15px 58px;
	border-radius: 30px;
	background-color: #000;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}


.title {
	position: absolute;
	padding-top: 110px;
	font-weight: 700;
	font-size: 210px;
}
.title-pod{
	position: relative;
	z-index: -1;
}
.title-s{
	display: inline-block;
	transform: translateY(60px);
}
.title-m{
	display: inline-block;
	transform: translate(-110px, 273px);
}
.title-ax{
	position: absolute;
	top: 550px;
	right: -100px;
	z-index: -1;
}


/**
	|============================
	| MAIN
	|============================
*/

.choose{
	/* padding: 45px 0 180px; */
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}
.choose-title{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}
.choose-text{
	margin-bottom: 80px;
	font-size: 16px;
	font-weight: 500;
}
.choose-list{
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: center;
}
.choose-list-btn{
	padding: 55px 50px;
	border-radius: 20px;
	border: 1px solid  #777;
	background: rgba(217, 217, 217, 0.00);
}
.btn-active{
	display: none;
}




.original{
	padding-bottom: 35px;
	text-align: center;
}
.original-title{
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 20px;
}
.original-text{
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
	max-width: 660px;
}
.original-info{
	display: flex;
	justify-content: center;	
	gap: 150px;
}
.original-list-item{
	max-width: 230px;
}
.original-list-item:not(:last-child){
	margin-bottom: 80px;
}
.list-item-text{
	font-size: 16px;
	font-weight: 500;
}



.about-battery{
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}
.about-battery-title{
	margin-bottom: 17px;
	font-weight: 700;
	font-size: 64px;
}
.about-battery-text{
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 500;
}
.battery-text-span{
	font-weight: 700;
	font-size: 16px;
}



.alive{
	padding: 80px;
	padding-bottom: 100px;
	text-align: center;
}
.alive-title{
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 64px;
}
.alive-number{
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 210px;
}
.alive-text{
	margin: 0 auto;
	max-width: 403px;
	font-size: 16px;
	font-weight: 500;
}




.beauty{
	position: relative;
	padding-top: 35px;
	padding-bottom: 35px;
}
.beauty::before	{
	content: '';
	background-image: url(../images/beauty-section.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.beauty::after{
	content: '';
	position: absolute;
	background-image: url(../images/sound.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	bottom: -150px;
	width: 100%;
	height: 150vh;
	left: 0;
	right: 0;
	z-index: -1;
}
.beauty-inner{
	min-height: 200vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.beauty-box{
	text-align: center;
	padding-bottom: 30vh;
}
.beauty-text{
	color: #fff;
	max-width: 300px;
	margin-bottom: 15px;
	font-weight: 500;
}
.beauty-btn{
	padding: 15px 58px;	
	border-radius: 30px;
	background-color: #FFF;
	margin-top: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

/**
	|============================
	| FOOTER
	|============================
*/

.footer{
	color: #fff;
	position: absolute;
	z-index: -2;
	text-align: center;
	padding: 250px 0 40px;
	background-color: #000;
	width: 100%;
}
.footer-link{
	font-weight: 700;
}
.footer-text{
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 700;
}
.footer-list {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
}
.footer-item{
	font-weight: 700;
}





/**
	|============================
	| ADAPTATION
	|============================
*/


@media (max-width: 1200px) {
	.title{
		font-size: 180px;
	}
	.header-content-images{
		max-width: 100%;
	}
	.choose-list{
		flex-wrap: wrap;
	}

		.title {
			font-size: 150px;
			left: 100px;
		}
	
		.title-pod {
			z-index: -1;
		}
	
		.title-s {
			transform: none;
		}
	
		.title-m {
			transform: none;
		}
	
		.title-ax {
			position: relative;
			transform: none;
			top: auto;
			right: auto;
		}
}

@media (max-width: 1090px) {
	.title{
		font-size: 100px;
		left: 66px;
		position: unset;
		text-align: center;
		padding: 0;
	}
}


@media (max-width: 820px){

	.header{
		min-height: unset;
	}
	.header-content-images img{
		display: none;
	}
}




@media (max-width: 755px) {
	.title{
		font-size: 75px;
	}

	.choose{
		padding-bottom: 60px;
	}

	.original-title{
		font-size: 36px;
	}

	.about-battery-title{
		font-size: 36px;
	}

	.alive-title{
		font-size: 36px;
	}
	.alive-number{
		font-size: 150px;
	}


	.footer-list{
		flex-wrap: wrap;
	}
}


@media (max-width: 555px) {
	.title{
		font-size: 55px;
	}
	.original-img{
		display: none;
	}

	.beauty::after{
		display: none;
	}

	.footer{
		padding: 60px 0 40px;
	}
	.footer-list{
		margin-top: 30px;
	}
}